<!doctype html>
<html lang=en>
<head>
<meta charset="UTF-8">
<title>Geomantic</title>

<!--Remy Sharp Shim -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/styles.css">



</head>
<body id="geomantic">



<header>

<p>Chart name is <b><%= params[:chart_name] %></b>, chart is by <b><%= params[:chart_by] %></b>, chart is for <b><%= params[:chart_for] %></b>, chart is about <b><%= params[:chart_subject] %></b>.</p>

</header>

<main>
	
	<div class="mother">
		<ul id="mother">
			<li id="mother">Fourth Daughter<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">Third Daughter<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">Second Daughter<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">First Daughter<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">Fourth Mother<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">Third Mother<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">Second Mother<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="mother">First Mother<br><img src="/images/laetitia_text.png" id="figure"></li>
		</ul>
	</div>
	<div class="niece">
		<ul id="niece">
			<li id="niece">Fourth Niece<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="niece">Third Niece<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="niece">Second Niece<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="niece">First Niece<br><img src="/images/laetitia_text.png" id="figure"></li>
		</ul>
	</div>
	<div class="witness">
		<ul id="witness">
			<li id="witness">Left Witness<br><img src="/images/laetitia_text.png" id="figure"></li>
			<li id="witness">Right Witness<br><img src="/images/laetitia_text.png" id="figure"></li>
		</ul>
	</div>
	<div class="judge">
		<ul id="judge">
			<li id="judge">Judge<br><img src="/images/laetitia_text.png" id="figure"></li>
		</ul>
	</div>
</main>

<aside>
	<p>Ut vel at officia. Culpa magnam ipsa libero rem qui. Ipsam explicabo dignissimos aperiam quos magni rem fugit. Fugiat aut vitae et qui asperiores laborum aliquam distinctio. Doloribus consequatur est aliquam ut porro. Inventore ut consectetur fugiat voluptatem nulla quia.</p>

	<p>Fugiat maiores recusandae cupiditate earum sed qui maxime dolor. Doloremque deleniti neque tempora velit et tempora quod exercitationem. Delectus placeat hic omnis. Expedita sint sapiente expedita natus debitis sit maxime voluptas. Placeat quidem possimus corporis molestiae autem quo qui.</p>
</aside>
<footer>
	
</footer>



</body>
</html>