<!doctype html>
<html lang=en>
<head>
<meta charset="UTF-8">
<title>Geomantic</title>

<!--Remy Sharp Shim -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/styles.css">



</head>
<body id="geomantic">

<header>

</header>

<main>
	<center>
		<form method="POST" action="/chart">

			Chart Date:<br>
			<%= chart_date = Date %><br><br>

			Chart Name:<br>
			<input type="text" name="chart_name"><br><br>

			Chart Created By:<br>
			<input type="text" name="chart_by"><br><br>

			Chart Created For:<br>
			<input type="text" name="chart_for"><br><br>

			Chart Subject:<br>
			<input type="text" name="chart_subject"><br><br>

			<input type="submit">

		</form>
	</center>
</main>

<aside>
	<p>Ut vel at officia. Culpa magnam ipsa libero rem qui. Ipsam explicabo dignissimos aperiam quos magni rem fugit. Fugiat aut vitae et qui asperiores laborum aliquam distinctio. Doloribus consequatur est aliquam ut porro. Inventore ut consectetur fugiat voluptatem nulla quia.</p>

	<p>Fugiat maiores recusandae cupiditate earum sed qui maxime dolor. Doloremque deleniti neque tempora velit et tempora quod exercitationem. Delectus placeat hic omnis. Expedita sint sapiente expedita natus debitis sit maxime voluptas. Placeat quidem possimus corporis molestiae autem quo qui.</p>
</aside>
<footer>
	
</footer>


</body>
</html>